<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <!-- 
        The configSections define a section for ASP.NET Atlas.
  -->
  <configSections>
		<sectionGroup name="microsoft.web" type="Microsoft.Web.Configuration.MicrosoftWebSectionGroup">
			<section name="converters" type="Microsoft.Web.Configuration.ConvertersSection" requirePermission="false" />
			<section name="webServices" type="Microsoft.Web.Configuration.WebServicesSection" requirePermission="false" />
			<section name="authenticationService" type="Microsoft.Web.Configuration.AuthenticationServiceSection" requirePermission="false" />
			<section name="profileService" type="Microsoft.Web.Configuration.ProfileServiceSection" requirePermission="false" />
		</sectionGroup>
	</configSections>
	
	<appSettings>
		<add key="connectionStringCommandTimeout" value="1200" />
		<add key="connectionStringNameDefault" value="WordEngineering" />
	</appSettings>

 <connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer" connectionString="Data Source=(local);Initial Catalog=ASPNetDB;Persist Security Info=True;Integrated Security=SSPI;" />
  <add name="Account" connectionString="Data Source=(local);Initial Catalog=Account;Persist Security Info=True;Integrated Security=SSPI" />
  <add name="Bible" connectionString="Data Source=(local);Initial Catalog=Bible;Persist Security Info=True;Integrated Security=SSPI" />
  <add name="BibleDictionary" connectionString="Data Source=(local);Initial Catalog=BibleDictionary;Persist Security Info=True;Integrated Security=SSPI" />
  <add name="Comforter" connectionString="Data Source=(local);Initial Catalog=Comforter;Persist Security Info=True;Integrated Security=SSPI" />
  <add name="ElectronicCopy" connectionString="Data Source=(local);Initial Catalog=ElectronicCopy;Persist Security Info=True;Integrated Security=SSPI" />
  <add name="Gutenberg" connectionString="Data Source=(local);Initial Catalog=Gutenberg;Persist Security Info=True;Integrated Security=SSPI" />
  <add name="InternetDictionaryProjectIDP" connectionString="Data Source=(local);Initial Catalog=InternetDictionaryProjectIDP;Persist Security Info=True;Integrated Security=SSPI" />
  <add name="Islam" connectionString="Data Source=(local);Initial Catalog=Islam;Persist Security Info=True;Integrated Security=SSPI" />
  <add name="URI" connectionString="Data Source=(local);Initial Catalog=URI;Persist Security Info=True;Integrated Security=SSPI;Application Name=URI" />
  <add name="WordEngineering" connectionString="Data Source=(local);Initial Catalog=WordEngineering;Persist Security Info=True;Integrated Security=SSPI;Application Name=WordEngineering" />
 </connectionStrings>

  <!-- 
      The microsoft.web section defines items required for the Atlas framework.
  -->
  <microsoft.web>
    <converters>
      <add type="Microsoft.Web.Script.Serialization.Converters.DataSetConverter" />
      <add type="Microsoft.Web.Script.Serialization.Converters.DataRowConverter" />
      <add type="Microsoft.Web.Script.Serialization.Converters.DataTableConverter" />
    </converters>
    <webServices enableBrowserAccess="true" />
    <!--
      Uncomment this line to enable the authentication service.
    <authenticationService enabled="true" />
    -->

    <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved 
         and modified in Atlas applications, you need to add each property name to the setProperties and 
         getProperties attributes.  If you intend for all properties to be available, you can use "*"
         as a shorthand rather than enumerating each property  -->
    <!--  
    <profileService enabled="true" 
                    setProperties="propertyname1;propertyname2" 
                    getProperties="propertyname1;propertyname2" />
    -->

  </microsoft.web>

 <system.net>

  <!--
  <mailSettings>
   <smtp>
    <network
     host="Harvest"
     from="Ken@EphraimTech.com"
     defaultCredentials="false"
     userName="Ken@EphraimTech.com"
     password="adegoke"
    />
   </smtp>
  </mailSettings>
  -->

  <mailSettings>
   <smtp deliveryMethod="network">
    <network defaultCredentials="true" host="(local)" port="25" />
   </smtp>
  </mailSettings>

 </system.net>
  
  <system.web>

  <authentication mode="Windows">
   <forms defaultUrl="Comforter_-_WordEngineeringIndex.xml" loginUrl="LoginWebForm.aspx" />
  </authentication>

  <authorization>
   <allow verbs="enterSharedScope" users="ephraimtech\ken" roles="admin" />
   <allow verbs="enterSharedScope" users="ken" roles="admin" />
  </authorization>

  <customErrors mode="Off" />

    <pages enableSessionState="true">
      <controls>
        <add namespace="Microsoft.Web.UI" assembly="Microsoft.Web.Atlas" tagPrefix="atlas" />
        <add namespace="Microsoft.Web.UI.Controls" assembly="Microsoft.Web.Atlas" tagPrefix="atlas" />
      </controls>
    </pages>
    <!-- 
          Set compilation debug="true" to insert debugging 
          symbols into the compiled page. Because this 
          affects performance, set this value to true only 
          during development.
    -->
    <compilation debug="false">
      <buildProviders>
          <add extension=".asbx" type="Microsoft.Web.Services.BridgeBuildProvider" />
      </buildProviders>
   <codeSubDirectories>
    <add directoryName="CS" />
    <add directoryName="VB" />
   </codeSubDirectories>
    </compilation>

    <!--
          ASMX is mapped to a new handler so that proxy javascripts can also be served.
    -->
	
	<!--
		dadeniji 2017-01-01
    <httpModules>
      <add name="ScriptModule" type="Microsoft.Web.Services.ScriptModule" />
      <add name="BridgeModule" type="Microsoft.Web.Services.BridgeModule" />
      <add name="WebResourceCompression" type="Microsoft.Web.Services.WebResourceCompressionModule" />
    </httpModules>
	-->
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
          
      <authentication mode="Windows"/>
    -->
    <!--
          The <customErrors> section enables configuration 
          of what to do if/when an unhandled error occurs 
          during the execution of a request. Specifically, 
          it enables developers to configure html error pages 
          to be displayed in place of a error stack trace.

      <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
          <error statusCode="403" redirect="NoAccess.htm"/>
          <error statusCode="404" redirect="FileNotFound.htm"/>
      </customErrors>
    -->

  <anonymousIdentification enabled="true" />

  <profile enabled="true">
   <properties>
    <add name="FirstName" defaultValue="Bilal" type="string" allowAnonymous="true" />
    <add name="LastName" defaultValue="Haidar" type="string" allowAnonymous="true" />
   </properties>
  </profile>

  <roleManager enabled="true" />

  <!--
  <sessionState mode = "InProc" />
  -->
   
  <!--
   C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\aspnet_state.exe
  <sessionState mode = "StateServer" stateConnectionString="tcpip=127.0.0.1:42424"/>
  -->

  <!--
   aspnet_regsql.exe -ssadd -sstype p -E
   <trust level="Full"/>
  -->
  <sessionState sqlConnectionString="data source=(local);Initial Catalog=ASPState;Persist Security Info=True;Integrated Security=SSPI" allowCustomSqlDatabase="true" />

  <trace enabled="true" requestLimit="1000" pageOutput="false" mostRecent="true" />

  <trust level="Full" />
        <identity impersonate="false" />
        <machineKey decryptionKey="012E9987F4041D04146A96E4919E5E9EFB0F248626CC46CB,IsolateApps" validationKey="A5BA5238B1D24DEF6C8D89064BE12D9331DC10EDC752143507C04841C2D78CE5D4ABD1BC7639ED517104BE6E61353E2A8B311BCA5C27B8562DAB1582D866F614,IsolateApps" />

  </system.web>
    <system.webServer>
          <directoryBrowse enabled="true" />
    </system.webServer>

  <!-- Uncomment this if your site globally denies access to anonymous users.  The 
       authentication service and profile service are located under the virtual
       "ScriptServices" directory.  Since you normally call the authentication web
       service with an un-authenticated user, the following location tag can be used
       to grant access to anonymous users.  If you use anonymous profile support
       you will also need to grant access to anonymous users. -->
  <!--
  <location path="ScriptServices">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>    
  </location>
  -->

</configuration>
