<?xml version="1.0" standalone="yes"?>
<!--
20031013 Comment SELECT TheWordId, SequenceOrderId, Dated, Commentary, ScriptureReference FROM Address WHERE TheWordId = '{0}' ORDER BY SequenceOrderId.
20040712 Include the XPath /word/database/sqlServer/uri/databaseConnectionString   Provider=SQLOLEDB;Data Source=localhost\SQLExpress;user id=WordEngineering;password=khouse;Initial Catalog=URI;
20040726 Include the XPath /word/database/sqlServer/bcp/directoryDatafile          D:\BCP
20040727 Include the XPath /word/database/sqlServer/bcp/database                   D:\WordEngineering
20040727 Include the XPath /word/database/sqlServer
20040727 Include the XPath /word/bcp/database
20040727 Include the XPath /word/bcp/directoryDatafile
20040727 Re-locate the scriptFilename node.
20040728 Include the node /word/bcp/table.
20040731 Include the node /internetDictionaryProjectIDP/databaseConnectionString
20040802 Include the node /internetDictionaryProjectIDP/datafile
20040807 Include the node /fax (925) 694-7728
20040819 Include the node /word/database/database name="Comforter"
20040925 Include the node /account
20041006 Include the node /account/theWord/sourceSQL SELECT TheWordId, SequenceOrderId, Dated, ScriptureReference, Commentary FROM Event WHERE TheWordId = {0} ORDER BY SequenceOrderId
20041012 Include the node /account/theWord/sourceSQL SELECT TheWordId, SequenceOrderId, Dated, Word, Rhema, Commentary, Filename, ScriptureReference FROM Anointing WHERE TheWordId = {0} ORDER BY SequenceOrderId
20041012 Change /bcp/database node from WordEngineering, URI to an empty node.
20041019 Include the node /account/theWord/sourceSQL SELECT TheWordId, SequenceOrderId, ContactId, Dated, IssuedAlliance, InclusiveLiteral, ScriptureReference, Commentary FROM NameIdentity WHERE TheWordId = {0} ORDER BY SequenceOrderId
20041111 Include the node /account/theWord/sourceSQL SELECT TheWordId, SequenceOrderId, ContactId, Dated, Systolic, Diastolic, Pulse, ScriptureReference, Commentary FROM KaiserPermanenteBloodPressure WHERE TheWordId = {0} ORDER BY SequenceOrderId
20041122 Extend the node /account/theWord/sourceSQL (TheWord) include the column CommandmentId.
20041129 Church of the Living God Pastor Val Reyes Jr. ContactId 1127. Suffix.
20041213 Greek Orthodox Church of the Ascension AscensionCathedral.org 4700 Lincoln Avenue Oakland 94602 CA USA Tel: (510) 531-3400. ContactId 25. Extend the node /account/alphabetSequence/sourceSQL include the URI column.
20050821 Include the node /word/sqlServerManagementObjectsSMO
20050907 Include the node /word/mail/smtp
20060420 Pa$$w0rd
20101223 ElectronicCopy 
-->
<word>
 <account>
  <accountChart>
   <dataFile>..\Documentation\FinancialManagementServiceTreasurywww.FMS.Treasury.Gov\FinancialManagementServiceUSTreasurywww.FMS.Treasury.Gov_-_USGovernmentStandardGeneralLedgerSection2AccountDefinition.txt</dataFile>
  </accountChart>  
 </account> 
 <bcp>
  <database />
  <directoryDatafile>\BCP</directoryDatafile>
  <table />
 </bcp>
 <bible>
  <xmlFilename>Comforter_-_BibleKJV.xml</xmlFilename>
 </bible>  
 <database>
  <sqlServer>
   <account>
    <databaseConnectionString>Provider=SQLOLEDB;Data Source=localhost;Integrated Security=SSPI;Initial Catalog=Account;</databaseConnectionString>
   </account>
   <bible>
    <databaseConnectionString>Provider=SQLOLEDB;Data Source=localhost;Integrated Security=SSPI;Initial Catalog=Bible;</databaseConnectionString>
   </bible>
   <bibleDictionary>
    <databaseConnectionString>Provider=SQLOLEDB;Data Source=localhost;Integrated Security=SSPI;Initial Catalog=BibleDictionary;</databaseConnectionString>
   </bibleDictionary>
   <electronicCopy>
    <databaseConnectionString>Provider=SQLOLEDB;Data Source=localhost;Integrated Security=SSPI;Initial Catalog=ElectronicCopy;</databaseConnectionString>
   </electronicCopy>
   <gutenberg>
    <databaseConnectionString>Provider=SQLOLEDB;Data Source=localhost;Integrated Security=SSPI;Initial Catalog=Gutenberg;</databaseConnectionString>
   </gutenberg>
   <imageCarbon>
    <databaseConnectionString>Provider=SQLOLEDB;Data Source=localhost;Integrated Security=SSPI;Initial Catalog=ImageCarbon;</databaseConnectionString>
   </imageCarbon>
   <internetDictionaryProjectIDP>
    <databaseConnectionString>Provider=SQLOLEDB;Data Source=localhost;Integrated Security=SSPI;Initial Catalog=InternetDictionaryProjectIDP;</databaseConnectionString> 
    <dataFile>D:\Software\InternetDictionaryProjectIDP\*.*</dataFile>
   </internetDictionaryProjectIDP>
   <Islam>
    <databaseConnectionString>Provider=SQLOLEDB;Data Source=localhost;Integrated Security=SSPI;Initial Catalog=Islam;</databaseConnectionString>
   </Islam>
   <uri>
    <databaseConnectionString>Provider=SQLOLEDB;Data Source=localhost;Integrated Security=SSPI;Initial Catalog=URI;</databaseConnectionString>
   </uri>
   <wordEngineering>
    <databaseConnectionString>Provider=SQLOLEDB;Data Source=localhost;Integrated Security=SSPI;Initial Catalog=WordEngineering;</databaseConnectionString>
   </wordEngineering>
  </sqlServer>
  <column>
   <datetime>Dated</datetime>
   <filename>Filename</filename>
   <foreign>TheWordId</foreign>
   <identity>SequenceOrderId</identity>
   <primary>SequenceOrderId</primary>
   <scriptureReference>ScriptureReference</scriptureReference>
   <scriptureReference>ScriptureReferenceAssociates</scriptureReference>
  </column>   
 </database>
 <fax>
  <serverName />
  <number>1 (925) 694-7728</number>
 </fax> 
 <file applicationName="Noise">
  <filenameHtml>Comforter_-_Noise.html</filenameHtml>  
  <filenameXsd>Comforter_-_Noise.xsd</filenameXsd>
  <filenameXml>Comforter_-_Noise.xml</filenameXml>
  <filenameXsl>Comforter_-_Noise.xsl</filenameXsl>   
  <filenameXslt>Comforter_-_Noise.xslt</filenameXslt>
 </file>
 <google>
  <licenceKey>wH0RRvxQFHJvqZulx+pK469wFtslUTKn</licenceKey>
  <licenceKey>O881yoPQ6AeQtHeX30+jgpD/GS3TdLuB</licenceKey>  
 </google>
 <impersonate>
  <username>WordEngineering</username>
  <password>Pa$$w0rd</password>
  <domainName />
 </impersonate>
 <indexingService>
  <connectionStringFormat>Provider=MSIDXS.1;Integrated Security .='';Data Source={0};</connectionStringFormat>
 </indexingService>
 <mail>
  <smtp>
   <port>25</port>
   <!-- <server>localhost</server> -->
  </smtp>
 </mail> 
 <networkNewsTransferProtocolNNTP>
  <newsServer>news.microsoft.com</newsServer>
  <newsGroup>microsoft.public.access</newsGroup>  
 </networkNewsTransferProtocolNNTP>
 <scriptFilename>\SQLServerScript\{0}\{1}.sql</scriptFilename>
 <sqlServerManagementObjectsSMO>
  <!-- <constraint />  --> 
  <!-- <database /> -->
  <!-- <default /> -->
  <directoryBackup>D:\SQLServerBackup</directoryBackup>
  <directoryMaintenance>D:\SQLServerMaintenance</directoryMaintenance>
  <directoryScript>D:\SQLServerDataDefinitionLanguageDDL</directoryScript>
  <!-- <index />  -->
  <!-- <rule />  -->  
  <!-- <server></server> -->
  <!-- <sqlServerLoginUserName></sqlServerLoginUserName>  -->
  <!-- <sqlServerPassword></sqlServerPassword>  -->
  <!-- <storedProcedure />  -->
  <!-- <table />  -->
  <!-- <trigger />  -->
  <!-- <userDefinedFunction /> -->
 </sqlServerManagementObjectsSMO>
 <theseAreTheFirstFruits>
  <export>
   <database>
    URI
    <table>URIChrist</table>    
    <table>URIWordEngineering</table>
   </database>
   <database>WordEngineering
    <table>AlphabetSequence</table>
   </database>
   <patternFilename>TheseAreTheFirstFruits\{0}\{1}{2}.xml</patternFilename>
  </export> 
  <import>
   <patternFilename>*20030605*.xml</patternFilename>
  </import>
  <patternFilename>TheseAreTheFirstFruits\{0}\{1}{2}.xml</patternFilename>
 </theseAreTheFirstFruits> 
 <theWord>
  <columnNameIdentity>SequenceOrderId</columnNameIdentity>
  <columnNamePrimaryKey>UniqueId</columnNamePrimaryKey>
  <columnNameForeignKey>TheWordId</columnNameForeignKey>  
  <filenameHtml>TheWord.html</filenameHtml>  
  <filenameXsd>TheWord.xsd</filenameXsd>
  <filenameXml>TheWord.xml</filenameXml>
  <filenameXsl>TheWord.xsl</filenameXsl>   
  <filenameXslt>TheWord.xslt</filenameXslt>
  <nodeRoot>wordOfGod</nodeRoot>  
  <sourceSQL>SELECT SequenceOrderId, ContactId, Dated, ScriptureReference, Title, Commentary, Keyword, Filename, CommandmentId FROM TheWord WHERE SequenceOrderId = {0}</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, ContactId, Dated, Word, ScriptureReferenceAssociates, AlphabetSequenceIndex, Commentary, ScriptureReference, URI FROM AlphabetSequence WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, ContactId, Dated, Rhema, Commentary, Filename, ScriptureReference FROM Anointing WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, Dated, Word, ScriptureReference, Commentary FROM BibleWord WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, ContactId, Dated, ScriptureReference, Commentary FROM CaseBasedReasoning WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, ContactId, Dated, ScriptureReference, Commentary FROM ClassAssociates WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, Dated, Title, FirstName, LastName, OtherName, Suffix, Company, ScriptureReference, Commentary FROM Contact WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, ContactId, Dated, EmailAddress FROM ContactEmail WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, ContactId, Dated, InternetAddress FROM ContactURI WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, Dated, ScriptureReference, Commentary FROM Event WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, Dated, ScriptureReference, Commentary FROM Export WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, Dated, ScriptureReference, Commentary FROM JehovahRophe WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, ContactId, Dated, Systolic, Diastolic, Pulse, ScriptureReference, Commentary FROM KaiserPermanenteBloodPressure WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>  
  <sourceSQL>SELECT TheWordId, SequenceOrderId, ContactId, Dated, IssuedAlliance, InclusiveLiteral, ScriptureReference, Commentary FROM NameIdentity WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>  
  <sourceSQL>SELECT TheWordId, SequenceOrderId, Dated, ScriptureReference, Commentary FROM Prophet WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, DatedFrom, DatedUntil, ScriptureReference, Commentary FROM Remember WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>  
  <sourceSQL>SELECT TheWordId, SequenceOrderId, Dated, ScriptureReference, Commentary FROM ScriptureReading WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, Dated, Measure, SignIndex, ScriptureReference, Commentary FROM Sign WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, Dated, ScriptureReference, Commentary FROM Software WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, ContactId, Dated, AddressLine1, City, State, ZipCode, Country FROM StreetAddress WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
  <sourceSQL>SELECT TheWordId, SequenceOrderId, ContactId, Dated, TelephoneNo, TelephoneLocation FROM Telephone WHERE TheWordId = {0} ORDER BY SequenceOrderId</sourceSQL>
 </theWord>
 <uri>
  <column>sequenceOrderId</column>
  <column>dated</column>
  <column>uri</column>
  <column>title</column>
  <column>keyword</column>
  <stylesheet>Comforter_-_URI.xslt</stylesheet>
  <table>URIAdvance</table>
  <table>URIBenediction</table>
  <table>URIChrist</table>
  <table>URIWordEngineering</table>
  <tableDefault>URIWordEngineering</tableDefault>
 </uri>
 <URI>
  <XmlStylesheet>Comforter_-_URI.xslt</XmlStylesheet>
  <URIChrist>
   <SQLSelect>Select URI, Title, Keyword, Dated FROM URIChrist</SQLSelect>
  </URIChrist>   
 </URI> 
</word>